# Bonus: Temperature Analysis I

In [21]:
import pandas as pd
from datetime import datetime as dt

In [13]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [14]:
# Convert the date column format from string to datetime
df['date']=pd.to_datetime(df['date'],format='%Y-%m-%d')
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [15]:
# Set the date column as the DataFrame index
df.set_index(df['date'],inplace=True)
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [17]:
# Drop the date column
df=df.drop(columns='date')
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [18]:
from scipy import stats

In [38]:
# Filter data for desired months
june_df=df.loc[df.index.month==6,:]
display(june_df)
december_df=df.loc[df.index.month==12,:]
display(december_df)

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2017-06-26  USC00516128  0.02    79
2017-06-27  USC00516128  0.10    74
2017-06-28  USC00516128  0.02    74
2017-06-29  USC00516128  0.04    76
2017-06-30  USC00516128  0.20    75

[1700 rows x 3 columns]

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[1517 rows x 3 columns]

In [41]:
# Identify the average temperature for June
avg_temp_june=round(june_df['tobs'].mean(),3)
print(f"The average temperature in June was {avg_temp_june}")

The average temperature in June was 74.944

In [42]:
# Identify the average temperature for December
avg_temp_december=round(december_df['tobs'].mean(),3)
print(f"The average temperature in December was {avg_temp_december}")

The average temperature in December was 71.042

In [43]:
# Create collections of temperature data
june_temp=june_df['tobs']
december_temp=december_df['tobs']

In [44]:
# Run paired t-test
stats.ttest_ind(june_temp,december_temp)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis